@import '~@blueprintjs/core/lib/scss/variables';

.Sidebar {
  flex: 0 0 auto;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;

  transition: width 0.25s;
  background-color: $dark-gray4;
  &__Open {
    width: 300px;
  }

  &__Closed {
    width: 40px;
  }

  h1 {
    font-size: 14px;
    font-weight: 500;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  position: relative;
  &::after {
    z-index: 3;
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    border-right: 0px solid $dark-gray2;
  }

  z-index: 20;
  -webkit-box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.0), 0 2px 4px rgba(16, 22, 26, 0.2), 0 8px 24px rgba(16, 22, 26, 0.2);
  box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.0), 0 2px 4px rgba(16, 22, 26, 0.2), 0 8px 24px rgba(16, 22, 26, 0.2);
}

@media(max-width: 800px) {
  .Sidebar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
}

  .SidebarOverlay {
    display: block !important;
  }
}

.SidebarCollapsedButton {
  width: 100%;
  padding: 5px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.SidebarContent {
  width: 300px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  overflow: auto;
  z-index: 0;
}
.SidebarSection {
  border-top: 1px solid $gray1;
  border-bottom: 1px solid $dark-gray3;
}

.SidebarOverlay {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.2);
  z-index: 19;
}

.SidebarHeader {
  height: 40px;
  background-color: $dark-gray3;
  border-bottom: 1px solid $dark-gray2;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  padding: 5px;
  font-family: 'Blender Pro';
  white-space: nowrap;
  font-size: 18px;
  z-index: 1;
  position: relative;

  &__Spacer {
    flex: 1;
  }
}