@import '~@blueprintjs/core/lib/scss/variables';

.LogView {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
  background-color: $light-gray5;

  &__Content {
    flex: 1;
    overflow-y: scroll;
  }
}

.LogLine {
  font-family: monospace;
  font-size: 13px;
  font-weight: 400;
  border-bottom: 1px solid $light-gray1;

  &__Meta {
    color: $gray2;
    font-size: 12px;
    text-align: center;
  }

  &:hover {
    background-color: rgba(0,0,0,0.04);
  }

  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
  &__Timestamp {
    width: 170px;
    flex: 0 0 auto;
    padding: 5px;
    font-weight: 600;
  }
  &__Text {
    flex: 1;
    padding: 5px;
  }
}