@import '~@blueprintjs/core/lib/scss/variables';

.CollapsibleSection {
  &__Flex {
    flex: 1;
  }
  &__Header {
    width: 100%;
    height: 30px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;
    border-radius: 0px;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    color: $gray3;
    padding-left: 10px;
    cursor: pointer;
    font-family: 'Blender Pro';


    .bp3-icon {
      color: black;
    }

  }

  &__Content {
    margin-bottom: 5px;
  }
}

.bp3-dark {
  .CollapsibleSection {
    &__Header {
      background-color: $dark-gray5;
      font-weight: 400;
    }
  }
}