.TelemetryView {
  flex: 1;
  padding: 15px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  h4 {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  &__Card {
    flex: 1;
    display: flex;
    justify-content: row;
    color: #30404D;
    margin-right: 10px;
    overflow: auto;
    background-color: #F5F8FA;

    h2 {
      font-size: 18px;
      margin-bottom: 4px;
    }

    .bp3-icon {
      color: #738694;
      opacity: 0.5;

    }

    &__Text {
      margin-left: 15px;
      margin-right: 15px;
      min-height: 80px;
    }
    &__BigText {
      min-height: 80px;
      flex: 1;
      font-size: 24px;
      font-weight: 500;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__Row {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
  }
}

@media(max-width: 800px) {
  .TelemetryView__Card {
    margin-right: 0px;
    margin-bottom: 10px;
    flex: 0 0 auto;
  }
  .TelemetryView__Row {
    flex-direction: column;
  }
}